<nav class="nav">
    <div class="nav-container">
        <div class="left-links">
            <a href="/" class="<%= activeTab === 'Home' ? 'active-nav-item' : '' %>" data-tooltip="Home"><i class="bi bi-house"></i></a>
            <a href="/new-post" data-tooltip="New Post"><i class="bi bi-pencil-square"></i></a>         
            <a href="/help" data-tooltip="Help"><i class="bi bi-question-circle"></i></a>
        </div>
        <div>
            <div class="right-links">
                <a href="/login" class="<%= activeTab === 'Login' ? 'active-nav-item' : '' %>">Log in</a>
                <a href="/register" class="<%= activeTab === 'Register' ? 'active-nav-item' : '' %>">Sign up</a>
            </div>
            <div class="right-links-logo">
                <a href="/login" class="<%= activeTab === 'Login' ? 'active-nav-item' : '' %>"><i class="bi bi-box-arrow-in-right"></i></a>
                <a href="/register" class="<%= activeTab === 'Register' ? 'active-nav-item' : '' %>"><i class="bi bi-person"></i></a>
            </div>
        </div>
    </div>
</nav>