<tr>
	<td class="col-6">
		<div class="post">
			<img src="../public/pictures/film.png"/>
			<div class="topic-details">
			<!-- <a class="topic" href="">Movie You're Watching Tonight?</a> -->
				<p class="topic"><a href="/post/<%= post._id %>"><%= post.title %></a></p>
				<p class="author">Author: <a href="/profile/<%= post.author._id %>"><%= post.author.username %></a></p>
			</div>
		</div>
	</td>
	<td class="col-1">
		<div class="single-number"><%= post.commentsCount %></div>
	</td>
	<td class="col-1">
		<div class="single-number"><%= post.viewsCount %></div>
	</td>  
	<td class="col-4">
		<div class="last-post">
			<div>
				<span>by&nbsp</span>
				<span class="author"><a href="/profile/<%= post.lastCommentBy.id %>"class="author-outline"><%= post.lastCommentBy.username %></a></span>
			</div>
			<div class="date"><%= new Date(post.lastComment).toDateString() %></div>
		</div>
	</td>
</tr> 