<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="../public/pictures/Pulp.webp">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../public/title.css">
    <link rel="stylesheet" href="../public/nav-bar.css">
    <link rel="stylesheet" href="../public/profile.css">    
</head>
<body>
    <%- include("./components/title.ejs")%>
    <div class="hr"></div>
    <%- include("./components/nav-bar.ejs")%>
    <div class="hr"></div>
    <div class="container gap-from-top bg-content">
            <div class="profile-info">
                <div class="profile-photo">
                    <img src="<%- profilePhoto %>" alt="profilePhoto"/>
                </div>
                <h2 class="heading">Personal information</h2>
                <div>
                    <span class="data-row">
                        <span>Username:</span>
                        <span><%=username %></span>
                    </span>
                    <span class="data-row">
                        <span>Email:</span>
                        <span><%=email %></span>
                    </span>
                    <span class="data-row">
                        <span>Date of birth:</span>
                        <span><%=birthDate %></span>
                    </span>
                    <span class="data-row">
                        <span>Posted threads:</span>
                        <span><%=postsCount %></span>
                    </span>
                    <span class="data-row">
                        <span>Comments:</span>
                        <span><%=commentsCount %></span>
                    </span>
                    <div>
                        <span class="thumbs">
                            <span>
                                <i class="bi bi-hand-thumbs-up thumbs-up"></i>
                                <span><%=likes %></span>
                            </span>
                            <span>
                                <i class="bi bi-hand-thumbs-down thumbs-down"></i>
                                <span><%=dislikes %></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    <script src="../public/profile.js"></script>
    <script src="../public/index.js"></script>
</body>
</html>