<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="../public/pictures/Pulp.webp">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="path/to/tailwind.css">
	<link rel="stylesheet" href="../public/post.css">
</head>
<body>
    <%- include("./components/title.ejs")%>
    <div class="hr"></div>
    <%- include("./components/nav-bar.ejs")%>
    <div class="hr"></div>
	<div class="container gap-from-top gap-10">
		<%- include("./components/infoMessage.ejs") %>
		<%- include("./components/errorMessage.ejs") %>
		<div class="post-description p-4">
			<h2 class="text-center mb-5 p-3"><%= post.title %></h2>
			<div class="flex gap-5">
				<div class="perosnal-info">
					<img src="<%= user.profilePicture %>"/>
					<div class="username font-bold text-center"><%= user.username %></div>
					<div class="personal-numbers">
						<p>Posts: <span><%= user.postsCount %></span></p>
						<p>Comments: <span><%= user.commentsCount %></span></p>
						<p>Registered:<br><span><%=user.registrationDate.toDateString()%></span></p>
					</div>
					<div class="flex justify-between">
						<div><i class="bi bi-hand-thumbs-up thumbs-up"></i> <span><%= user.likes %></span></div>
						<div><i class="bi bi-hand-thumbs-down thumbs-down"></i><span><%= user.dislikes %></span></div>
					</div>
				</div>
				<div class="text-description w-full"><%- post.content %></div>
			</div>
		</div> 
		<%if(loggedIn){%>
			<section class="d-fle text-center w-[83%]">
				<form action="/api/comment/<%= post._id %>" method="post">
					<textarea name="content" id="text-editor"></textarea>
					<button class="create-post-btn">Comment</button>
				</form>
			</section>
			<%}else{%>
			<div class= "note">
				Please, <a href="/login" class="underline">  log in</a>to post comment!
			</div>
			<%}%>
		<div class="d-fle text-center w-[76%]">
		<fieldset class="border border-gray-400 rounded-3xl">
			<legend>Post preview</legend>
			<div id="preview"></div>
		</fieldset>  
		</div>
		<% for(const comment of comments) { %> <%-
			include("./components/comment.ejs", {comment}) %> <% } %>
	</div> 
    <script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
    <script src="/public/tinymce-config.js"></script>
    <script src="../public/index.js"></script>
    <script src="../public/profile.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html> 